*, *::before, *::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1rem;
}
header{
    width: 100%;
    /* background-color: rgb(184, 236, 253); */
    /* padding: 5px; */
   background-color: #136C72;
   
}
.nav{
    scroll-behavior: smooth;
    transition: 0.6s;
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    
}
.logo{
    width: 2rem;
    /* border: 2px solid red; */
    margin-right: 1rem;
}
.nav_list{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;    
}
.nav__list--primary{
    margin: 0 auto;
}
.nav__list{
    text-decoration: none;
    list-style: none;
    display: flex;
}

.nav_item a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.active a{
    background-color: white;
    color: black;
    padding: .50rem .60rem;
    border-radius: 1rem;
}
.active a:hover{
    color: rgb(29, 138, 109);

}
.nav_item{
    margin-right: 2rem;
}
.nav_item  :hover{
    background-color: white;
    color: black;
    padding: .50rem .60rem;
    border-radius: 1rem;
}

    /* he side la ghyla ek div ghetla jo ke
     both right n lrft cha div la ahe n tyla  
    display flex karun side la anla */
/* .main{
    display: flex;
    justify-content: space-between;
}
.nav_side{
    display: flex; 
    text-decoration: none;
    list-style: none;
} */
                    /* header */
/* ul{
    max-width: 100%;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
     /* justify-content: space-between;

}
ul li{
    margin-left: 5%;
    width:20%; 
}
ul li a{
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
} */

.hero{
    background-color: #23424a;
    color: white;
    width:100%;
    padding:50px 0;
   
}
.container{
    width: 80%;
    max-width:1100px;
    margin: 0 auto;
    padding: 10px;
    /* font-size: 1rem; */
}
.row{
    display:flex;
    /* justify-content: center; */
    justify-content: space-between;
    
}
 .hero__text{
     width: 62%;
    margin-bottom: 3rem;
    margin-right: 10%;
   
} 
.container p{
    font-size: 1.3rem;
   
}
h1{
    font-size: 3rem;
}

.btn{
    text-decoration: none;
    background-color:rgb(137, 209, 209);
    color:black;
    border:thistle solid 1px;
    border-radius: 100px;
    padding: .75rem 1rem;
    text-align: center;
    font-weight: bold;
}
.btn.hover,
.btn:focus{
    opacity: .75;
}

                           /* to make a image responsive use max-width 100%;so that will not allow the image to get overflow            */
img{
width:50vh;
max-width: 100%;
border: darkorange;
    
}
.imgedit{

    align-self: flex-start;
    width: 32%;
  
}
 
/* .inner_contain{ 
    width: 60%;
} */
.two-col{
    width: 62%;
}
.three-col{
    width:32%;
}
.inner_contained{
    background-color: steelblue;
    text-align: center;
    padding: 1rem;
    
}
.he{
    background-color:  #23424a;
    color: white;
}
.row .col{
    text-align: center;
    font-size: 1rem;
}